.sidebar {
    padding: 20px;
    border: 4px;
    grid-area: sidebar;
    background-color: rgb(159, 177, 133);
}

.img {
    padding: 10px;
    border: 4px;
    float: left;
    max-width: 50px;
}

.img {
    float: right;
    max-width: 300px;
}