.caja1 {
    padding: 20px;
    border: 4px;
    color: $color_letra;
    background-color: $bg_caja;
}

.caja2 {
    padding: 20px;
    border: 4px;
    color: $color_letra;
    background-color: $bg_caja;
}

.caja1 {
    grid-area: caja1;
}

.caja2 {
    grid-area: caja2;
}