.caja1 {
    padding: 20px;
    border: 4px;
    color: rgb(27, 25, 25);
    background-color: rgb(226, 226, 121);
}

.caja2 {
    padding: 20px;
    border: 4px;
    color: rgb(27, 25, 25)te;
    background-color: rgb(226, 226, 121);
}

.caja1 {
    grid-area: caja1;
}

.caja2 {
    grid-area: caja2;
}